[2018-10-19 13:51] brianGit78 opened #1 "Add support for custom named climate type's."
I get the following error when I run the Ecobee Node Server for about 24 hours:

2018-10-16 07:01:53,638 DEBUG    Update detected in thermostat Main Floor(511866920242) doing full update.
2018-10-16 07:01:53,640 DEBUG    Tokens valid until: 2018-10-16T07:37:52
2018-10-16 07:01:53,641 INFO     Getting Full Thermostat Data for 511866920242
2018-10-16 07:01:54,049 ERROR    Exception in thread Thread-

[2018-11-19 21:38] dbarentine opened #2 "Sensor ID's are not unique when you have multiple thermostats"
I have two thermostats for my house and each one has multiple sensors. The problem is when the node server attempts to add the thermostats it uses: sensor['id'] which is not unique across both thermostats. As a result I end up missing sensor nodes inside of my ISY. Whichever one gets added first is the only one to get added.

The following is a summary of my setup and what the sensor['id'] values

[2018-11-19 21:44] dbarentine commented on #2
Ah I just realized that the thermostat doesn't have a code which would prevent it from being used for it at least.

[2018-12-07 06:00] jimboca opened #4 "API issues?"
https://forum.universal-devices.com/index.php?/topic/24876-Ecobee-Nodeserver-problem-v2.0.5#entry251115

Tried reinstalling this node server into a brand new slot. Same problem persist:
-changing setpoint does not work when thermostat on hold mode
-changing setpoint when program running changes the actual "comfort setting" - so this is saved permanently moving forward
-changing climate type to oth

[2018-12-07 06:02] jimboca opened #5 "More API issues"
https://forum.universal-devices.com/index.php?/topic/24876-Ecobee-Nodeserver-problem-v2.0.5#entry251957

It seem something has changed recently has the changing the mode from Home to Away is not longer working for me. Also changing the transition mode has no effect anymore. It seem I have also similar problem as @beninsteon
 Here a trace stack, when I tried to change mode :

2018-11-28 22:45:17,33

[2018-12-09 22:58] jimboca opened #6 "Changing setpoint when program running changes the actual "comfort setting""
Changing setpoint when program running changes the actual "comfort setting" - so this is saved permanently moving forward

[2018-12-09 23:03] jimboca commented on #4
The first and third are fixed in the next commit.  The second has a new Issue #6

[2018-12-09 23:05] jimboca commented on #5
This was because the Thermostat node defined it's own getDriver method, which has been broken for a while.

[2018-12-09 23:08] jimboca opened #7 "Move creating Thermostat child nodes into Thermostat"
Currently there is a sleep 3 in the controller after adding the Thermostat to give time for the node to be created, instead this should be done in the Thermostat after start is done.

[2018-12-11 04:56] #5 closed, assigned to jimboca

[2018-12-11 04:56] #4 closed, assigned to jimboca

[2018-12-11 05:00] jimboca commented on #1
I see the issue here, the nodeserver only understands these:

[code]
and you have named one 'wakeup'.   Will need to figure out how to support custom named climate modes.   This will require the profile be custom generated for each person.

[2018-12-11 05:02] jimboca commented on #1
This will be more effort so pushed out to after the next release.  If you change the name from wakeup back to smart1 then it will no longer crash. :)

[2018-12-11 05:08] jimboca commented on #6
@Einstein42 Looking at the code, it seems this was intentional?  It changes the setpoint for the currently running program.  This doesn't seem correct?  If the user is changing a setpoint then it's a temporary change, not a permanent one for the program?

The current code changes setpoint like this: https://www.ecobee.com/home/developer/api/examples/ex11.shtml

The user request is that it only mod

[2018-12-11 14:25] Einstein42 commented on #6
Good question, probably why I didn't know what to do there.

[2018-12-12 05:23] jimboca opened #9 "Setting 'Climate Type' sets hold as indefinite, should it use nextTransition?"
[code]

[2018-12-12 05:28] jimboca opened #10 "Schedule Mode crash ValueError: invalid literal for int() with base 10:﻿"
[code]

[2018-12-13 00:41] jimboca opened #11 "Add "Hold Action" param in ISY"
The thermostat settings allow user to set a Hold Action of
2 hours
4 hours
Until the next scheduled activity
Until I change it

We could add that param in the ISY as well.

![image](https://user-images.githubusercontent.com/1578044/49907832-c0b67800-fe2c-11e8-97a8-f7602e9ff9a8.png)

[2018-12-13 03:59] jimboca commented on #9
It will now use the current set "Schedule Mode"

[2018-12-13 04:33] #2 closed, assigned to jimboca

[2018-12-13 04:33] #6 closed, assigned to jimboca

[2018-12-13 04:33] #7 closed, assigned to jimboca

[2018-12-13 04:33] #9 closed, assigned to jimboca

[2018-12-13 04:33] #10 closed, assigned to jimboca

[2018-12-13 04:33] jimboca commented on #11
Not need, using existing.

[2018-12-13 04:33] #11 closed, assigned to nobody

[2018-12-13 04:36] jimboca commented on #1
The code is fixed to not crash, it will not proper climate type in the ISY Admin Console, but everything else should work.
Will work on supporting custom names soon.

[2018-12-16 00:45] jimboca opened #13 "Check if "Climate Type" is current schedule."
If user selects the Climate Type that is the current based on the schedule, should it still go into hold mode?  For example, current schedule says we are in Home.  User changes to Away which puts it in Away with hold of nextTransition.  Now if they set to "Home", should that cancel the hold, or go into Home with hold nextTransition?

[2018-12-17 04:31] csteenwyk opened #14 "Schedule Mode 'Running'"
I am trying to automate setting away/home.

To set away:
Set the 'Climate Type' to 'Away' with a 'Permanent' hold

To set home:
Set the 'Schedule Mode' to 'Running'

The log file outputs the following:
cmdSetScheduleMode: CLISMD=0 already set to 0

I have tried first setting the 'Schedule Mode' to 'Hold Next' with no success.

[2018-12-17 15:12] jimboca commented on #14
You are running 2.0.10 right? I thought I fixed that ☹️

[2018-12-17 23:24] jimboca commented on #14
Yes, the code get's confused.  I need to keep track of what the current scheduled climate type defaults are and set the hold's for those that are different.

[2018-12-19 02:30] csteenwyk commented on #14
Yeah, 2.0.10

[2018-12-20 01:53] csteenwyk commented on #14
Saw the update, seems to be fixed

[2018-12-20 01:53] #14 closed, assigned to nobody

[2018-12-21 15:20] jimboca opened #15 "invalid_grant should re-request the auth"
12/21/18 07:18:29:679 [Controller][ERROR] :: invalid_grant :: The authorization grant, token or credentials are invalid, expired, revoked, do not match the redirection URI used in the authorization request, or was issued to another client.

[2018-12-24 04:07] jimboca commented on #15
Fixed in 2.0.12

[2018-12-24 04:07] #15 closed, assigned to nobody

[2018-12-27 22:39] jimboca commented on #13
It goes into hold nextTransition.

[2018-12-27 22:39] #13 closed, assigned to nobody

[2018-12-27 22:40] jimboca opened #16 "When I select hold-indefinite on schedule mode, it sets the heat setpoint to 26 degrees C and holds it there indefinitely."
Can this be changed to simply hold the settings as they are indefinitely?

It's supposed to make the hold take affect based on the current settings, but sounds like it's not doing that for you, I will check.

[2018-12-27 22:41] jimboca opened #17 "Temperature is being displayed in the console in deg F (even though it says deg C)"
Screenshot: https://forum.universal-devices.com/topic/25324-polyglot-v2-ecobee-nodeserver/?do=findComment&comment=253721

[2018-12-27 22:43] jimboca opened #18 "The Occupancy variable does change for the the satellite sensors, but not for the thermostats itself."
https://forum.universal-devices.com/topic/25324-polyglot-v2-ecobee-nodeserver/?do=findComment&comment=253575

[2018-12-28 21:16] jimboca commented on #18
Fixed in 2.0.14

[2018-12-28 21:16] #18 closed, assigned to nobody

[2018-12-28 21:16] jimboca commented on #17
Fixed in 2.0.14

[2018-12-28 21:16] #17 closed, assigned to nobody

[2018-12-28 21:16] jimboca commented on #16
Fixed in 2.0.14

[2018-12-28 21:16] #16 closed, assigned to jimboca

[2018-12-29 05:58] jimboca commented on #1
This should all be fixed now, please let me know if it's working for you and I will close.

[2018-12-29 23:07] richl007 opened #19 "Couldn't update driver to ISY. StatusCode 404"
What am I doing wrong?

[2018-12-29 23:08] richl007 commented on #19
What am I doing wrong?

[2018-12-29 23:29] jimboca commented on #19
I assume this is with poly cloud? If so that's and issue with PGC and hopefully will be resolved soon.

[2018-12-31 02:06] jimboca commented on #19
This is a Polyglot Cloud issue https://github.com/UniversalDevicesInc/pgc/issues/7

[2018-12-31 02:06] #19 closed, assigned to nobody

[2018-12-31 02:06] jimboca commented on #1
All working in 2.0.17

[2018-12-31 02:06] #1 closed, assigned to jimboca

[2018-12-31 02:08] jimboca opened #20 "More reporting about remote sensors"
What do they report when not communicating, like when batter dies.
Do they report when battery is low?

[2019-01-01 05:01] jimboca opened #21 "More support for Humidity setpoints"

[2019-01-05 17:26] psmith3 opened #22 "https://polyglot.isy.io not upgrading to latest version when starting and stopping"
Hi,

I see there is version 2.0.18 in the store on https://polyglot.isy.io. My current dashboard shows 2.0.17 running. If I stop and start the service, the log shows 2.0.18 but the dashboard still says I am running 2.0.17. Am I really on 2.0.18 or do I need to delete the node and reinstall from the store? Following the instructions on the store to just start and stop. I also see the readme of this

[2019-01-05 18:00] jimboca commented on #22
Sounds like you are running the cloud version? Cloud is brand new and not fully documented yet. There is no upgrading on the cloud, stop and restart grabs the latest version, but there's a bug in Polyglot Could where the version shown on the web page doesn't update. You can view the log and see that the latest is used.

[2019-01-05 18:03] psmith3 commented on #22
Thanks @jimboca . Yes, that is what I see in the log and thought that the web is not updating it. I guess that is a bug that needs to be filed if not already. Will look.

[2019-01-06 17:56] jimboca commented on #22
It wasn't in the list, so I added it https://github.com/UniversalDevicesInc/pgc/issues/10

[2019-01-06 17:56] #22 closed, assigned to nobody

[2019-01-06 17:57] jimboca opened #23 "Add control of fan on/auto state"

[2019-01-06 17:58] psmith3 commented on #22
Thanks

[2019-01-06 18:13] jimboca opened #24 "Add support for dryContact sensors"
[code]

[2019-01-06 19:15] jimboca commented on #24
And other capabilities:  https://www.ecobee.com/home/developer/api/documentation/v1/objects/RemoteSensorCapability.shtml

[2019-01-06 19:21] jimboca opened #25 "Set Fan driver on/off based on heat setting when fanControlRequired setting"
https://www.ecobee.com/home/developer/api/documentation/v1/objects/Settings.shtml

fanControlRequired | Boolean | no | no | Whether fan control by the Thermostat is required in auxiliary heating (gas/electric/boiler), otherwise controlled by furnace.
-- | -- | -- | -- | --

[2019-01-07 21:15] jimboca commented on #25
Now nodeserver will set fan=on when heat is running and fanControlRequired=False

[2019-01-07 21:22] jimboca opened #26 "Detect Smart-Away"
When thermostat went into Smart-Away mode, what does it show in the API?

[2019-01-07 21:46] jimboca opened #27 "Convert all Ecobee Server communcaton to use Session"

[2019-01-07 21:47] jimboca opened #28 "Ecobee server issues caused nodeserver to hang"
Log shows timeouts and fails, but eventually just hung:
[code]

[2019-01-07 22:27] jimboca opened #29 "Add heartbeat"

[2019-01-07 22:58] jimboca commented on #23
All working and released in 2.0.21

[2019-01-08 02:10] richl007 opened #30 "Lots of errors when installing"
Please see attached video

https://drive.google.com/open?id=1mHi7XeO41nunt0wKQiVOTuYS52GDg2mb

Am I doing something wrong?

I have 2 ecobees in my house with 4 sensors

[2019-01-08 16:51] #29 closed, assigned to nobody

[2019-01-08 16:52] jimboca commented on #23
Should put in hold next mode by default, and try to only pass fan on instead of temps.

[2019-01-08 16:58] jimboca commented on #30
It's impossible to see all the errors.  The ones about "hints" are ok, and are fixed in the latest version.  Please copy/paste the nodeserver log and add to a comment here (with code formatting), or PM or email it to me.

[2019-01-08 17:08] richl007 commented on #30
[code]

[2019-01-08 17:16] jimboca commented on #30
Thanks, at the top of the web page for that NS, it says "Current Worker: someid" can you send me that someid?

[2019-01-08 17:18] richl007 commented on #30
Ecobee(3)
Current Status: Connected
Current Version: 2.0.25
Time Started: Jan 8, 2019, 12:07:00 PM
Uptime: 11 Minute(s) 12 Second(s)
Current Worker: 66d9c4a8-7ae1-4526-b6a8-648d17db6fdf

[2019-01-08 18:31] jimboca commented on #30
@Einstein42 is helping me review the issues, but in the meantime can you delete the NS and re-add it.

[2019-01-08 18:35] jimboca opened #31 "Track Vacation along with Smart Home/Away"
https://forum.universal-devices.com/topic/25324-polyglot-v2-ecobee-nodeserver/?do=findComment&comment=254665

Ah - ok.  I remember reading that now.  For me, I do most of my control directly from the Ecobee, so would have little/no interest in setting vacation mode from the ISY.  However, being able to detect that the Ecobee is in vacation mode would be valuable.  One for logging/reporting the cur

[2019-01-08 18:47] richl007 commented on #30
Done. THANK YOU!

if you need it: Current Worker: 57dee989-1914-4926-b3cc-872a73f7cc8f

[2019-01-08 18:55] jimboca commented on #30
Thanks, did you see any errors?  If so please copy/paste the log here.

[2019-01-08 18:58] jimboca commented on #30
That worker doesn't seem to be correct, I can't view the log

[2019-01-08 18:59] richl007 commented on #30
no more errors, but it's only updating 1 of my 2 ecobees. see attached.

![capture](https://user-images.githubusercontent.com/46251452/50852494-a4372e00-134d-11e9-9016-42744f06657b.PNG)

[2019-01-08 19:01] richl007 commented on #30
Ecobee(1)
Current Status: Connected
Current Version: 2.0.25
Time Started: Jan 8, 2019, 1:42:29 PM
Uptime: 18 Minute(s) 29 Second(s)
Current Worker: 57dee989-1914-4926-b3cc-872a73f7cc8f

[2019-01-08 19:13] richl007 commented on #30
I see some errors in the log

1/8/19 13:43:41:227 [Controller][ERROR] :: reportDriver: 'GV3'
1/8/19 13:59:21:294 [Interface ][DEBUG] :: Received Message: {'shortPoll': {}}
1/8/19 13:51:21:011 [Interface ][DEBUG] :: Received Message: {'shortPoll': {}}
1/8/19 14:05:21:464 [Interface ][DEBUG] :: Received Message: {'shortPoll': {}}
1/8/19 14:06:21:026 [Interface ][DEBUG] :: Received Message: {'longPol

[2019-01-09 17:24] jimboca opened #32 "Issue with custom climate names"
The below shows that smart2 is not in the list, so that messes up the ordering.  Need to order them by the 'smart>n>' names.

@jimboca  I need to correct my previous statement that custom climates names are fixed for me. To test I manually set a custom climate from the admin console and the correct name came up and I thought it was fixed, I didn't notice that the settings for that name were wrong

[2019-01-10 20:15] jimbo commented on #32
Hi. 😅

[2019-01-10 20:18] jimboca commented on #32
Sorry @jimbo I copy/pasted from a forum where I am jimbo but on here I am not :)

[2019-01-11 00:09] jimboca commented on #23
The API doesn't allow just passing fan, and nextTransition is the default, unless it's currently in indefinite mode.

[code]

[2019-01-11 00:09] #23 closed, assigned to jimboca

[2019-01-11 00:58] jimboca commented on #25
All seems to be working

[2019-01-11 00:58] #25 closed, assigned to jimboca

[2019-01-11 14:35] richl007 opened #33 "Only 1 of my 2 ecobee's are reporting information"
Current Status: Connected
Current Version: 2.0.29
Time Started: Jan 11, 2019, 9:30:38 AM
Uptime: 2 Minute(s) 48 Second(s)
Current Worker: b289306f-60e4-40d0-bc49-7af848eb5e3e

![capture](https://user-images.githubusercontent.com/46251452/51039859-30329b00-1584-11e9-9f05-1f3b339f36a7.PNG)

[2019-01-11 15:39] jimboca commented on #33
Please attach the log

[2019-01-11 15:46] richl007 commented on #33
1/11/19 09:30:38:344 [MainThread][INFO ] :: PGC Interface 1.0.11 Starting...
1/11/19 09:30:38:531 [Interface ][DEBUG] :: Recieved Message: init
1/11/19 09:30:38:622 [Interface ][INFO ] :: Adding node Ecobee Controller(controller)
1/11/19 09:30:39:643 [Interface ][DEBUG] :: Recieved Message: config
1/11/19 09:30:39:922 [NodeServer][INFO ] :: Sending notices to Polyglot.
1/11/19 09:30:39:627 [Interf

[2019-01-11 16:00] jimboca commented on #33
Thanks, I'll take a look when I get time.

[2019-01-17 17:55] jimboca opened #34 "Fix Hold Type for Program Action"
Not showing proper names?

![image](https://user-images.githubusercontent.com/1578044/51338161-fa872980-1a3d-11e9-8ceb-c1020759d606.png)

Should use Schedule Mode:
![image](https://user-images.githubusercontent.com/1578044/51338323-5b166680-1a3e-11e9-938b-a3eeeb0cabf6.png)

[2019-01-23 15:40] jimboca opened #35 "Fix issue with unknown remote sensor temperature"
https://forum.universal-devices.com/index.php?/topic/25324-Polyglot-V2-Ecobee-Nodeserver#entry255734

Should add a responding driver and set to false when that is seen?

[2019-01-23 17:46] jimboca opened #36 "AttributeError: 'Controller' object has no attribute 'revData'"
[code]

[2019-01-26 03:29] jimboca commented on #36
@Einstein42 Do you happen to have more of the log before this? I think I know how this could happen but not positive

[2019-01-26 03:49] jimboca commented on #33
Sorry I haven't had time to figure this out, the updates come in but Polyglot doesn't think it needs to push them to the ISY.  Currently Polyglot Cloud can be a little flaky, but they are rewriting a lot of it so if this is still happening with the current version of the nodeserver then I'm not sure what to do besides wait for the new Polyglot Cloud.

[2019-01-26 16:48] jimboca opened #37 "Thermostat connected not updated when service is down"
https://forum.universal-devices.com/index.php?/topic/25324-Polyglot-V2-Ecobee-Nodeserver#entry255992

[2019-01-29 05:26] jimboca commented on #35
Added 'Responding' to all Sensors

[2019-01-29 05:28] jimboca commented on #37
Added "Ecobee Connection Status" on controller.  This seems require a restart of Polyglot to get updates to show.

[2019-02-06 00:25] jimboca commented on #36
Added another fix to 2.0.34, hopefully that's it.

[2019-02-06 00:25] #37 closed, assigned to jimboca

[2019-02-06 00:26] #35 closed, assigned to nobody

[2019-02-06 00:27] jimboca commented on #33
Haven't heard back so closing the issue.

[2019-02-06 00:27] #33 closed, assigned to jimboca

[2019-02-06 00:28] jimboca commented on #32
All fixed

[2019-02-06 00:28] #32 closed, assigned to jimboca

[2019-02-06 00:29] jimboca commented on #30
These are all Polyglot issues, should get fixed when polyglot.isy.io is upgraded.

[2019-02-06 00:29] #30 closed, assigned to nobody

[2019-02-06 00:30] jimboca commented on #28
Should not be happening anymore.

[2019-02-06 00:30] #28 closed, assigned to jimboca

[2019-02-06 00:30] #20 closed, assigned to nobody

[2019-02-06 13:00] richl007 commented on #33
Unfortunately, I still have the same problem. Only 1 of my 2 thermostats
are reporting in ISY

Thank you,

Richard Leibov

On Tue, Feb 5, 2019 at 7:27 PM jimboca <notifications@github.com> wrote:

[2019-02-19 19:17] jimboca opened #38 "NodeServer is hanging"
It seems to hang here, no clue what it's doing.  Process is still alive but using no cpu time...

[code]

[2019-02-20 15:47] jimboca opened #39 "Trap: ConnectionResetError: [Errno 104] Connection reset by peer"
This caused the thread to die?  Need to trap exception. Main process was still running but log showed nothing.

[code]

[2019-02-20 20:11] jimboca opened #40 "Add setting to include/exclude weather and forcast"
Should it be a driver so it can be set in the Admin Console or a Polyglot Param?  Probably a driver since users would want to set differently for each thermostat.

[2019-02-23 15:52] jimboca commented on #39
Should be fixed in 2.0.36

[2019-02-23 15:52] #39 closed, assigned to nobody

[2019-02-24 19:34] cswelin opened #41 "Sensor regression"
Haven't checked my Polyglot in a while but noticed switches that act as sensor no longer appear, this is due to switches not having a `code`. Looks like #12 may have broke it.

Data its trying to parse:
`{'name': 'Bathroom', 'type': 'switch_plus', 'id': 'ls1w:255', 'capability': [{'type': 'temperature', 'id': '1', 'value': '699'}, {'type': 'occupancy', 'id': '2', 'value': 'true'}], 'inUse': False}

[2019-03-18 02:16] jimboca commented on #31
Vacation is not working correctly:
https://forum.universal-devices.com/topic/25324-polyglot-v2-ecobee-nodeserver/?do=findComment&comment=259900

Should look at adding it as a hold mode as originally requested.

[2019-03-18 02:18] jimboca opened #42 "Support changing backlightOnIntensity"
https://www.ecobee.com/home/developer/api/documentation/v1/objects/Settings.shtml

[2019-03-26 00:05] richl007 opened #43 "can't install"
i get errors when i try to install

https://drive.google.com/open?id=1eZFWNGAOOCHKhoh1fC8C6YN_Igr3wjQd

[2019-03-26 00:11] jimboca commented on #43
Please attach or paste log here for reference or post error message to the forum

[2019-03-26 00:26] richl007 commented on #43
createService: Error: (HTTP code 500) server error - rpc error: code = Unknown desc = name conflicts with an existing object at /app/node_modules/docker-modem/lib/modem.js:257:17 at getCause (/app/node_modules/docker-modem/lib/modem.js:287:7) at Modem.buildPayload (/app/node_modules/docker-modem/lib/modem.js:256:5) at IncomingMessage. (/app/node_modules/docker-modem/lib/modem.js:232:14) at Incomin

[2019-03-26 00:31] jimboca commented on #43
Sorry, I have no idea how to run Polyglot in docker, there are some trying to do it but I've not followed the thread on the forum

[2019-03-29 02:48] #40 closed, assigned to jimboca

[2019-04-03 16:20] #43 closed, assigned to nobody

[2019-04-03 16:21] jimboca opened #44 "Not properly recognizing expired token response?"
[code]

[2019-04-04 14:36] jimboca commented on #44
and check when it expires:

[code]

[2019-04-09 22:24] jimboca opened #45 "Crash due to bad json returned from Ecobee"
[code]

[2019-04-09 22:50] jimboca commented on #45
Fixed in 2.1.4

[2019-04-21 16:55] jimboca commented on #31
2.1.5 Added support for properly tracking Vacation, SmartAway, SmartHome and DemandResponse events in "Climate Type"

[2019-04-21 16:57] jimboca commented on #38
Fixed in 2.1.0

[2019-04-21 16:57] #38 closed, assigned to jimboca

[2019-04-21 16:57] #36 closed, assigned to jimboca

[2019-04-21 16:59] jimboca commented on #44
Fixed in 2.1.2

[2019-04-21 16:59] #44 closed, assigned to nobody

[2019-04-21 16:59] jimboca commented on #27
Done in 2.1.0

[2019-04-21 16:59] #27 closed, assigned to nobody

[2019-04-21 17:00] jimboca commented on #26
Same as #31

[2019-04-21 17:00] #26 closed, assigned to nobody

[2019-04-21 19:27] #42 closed, assigned to nobody

[2019-04-21 19:27] #45 closed, assigned to nobody

[2019-04-21 19:28] #31 closed, assigned to jimboca

[2019-08-29 16:11] danvanklaveren opened #46 "ClimateType of 'wakeup' not found, halts further processing"
Not sure if this is a recent change from Ecobee
From the log:
2019-08-29 11:30:38,817 [Controller] [DEBUG] EcobeeF_########:t######:Ecobee - Upstairs:_update: climateType=wakeup

Resulting error:
2019-08-29 11:30:38,819 [Controller] [ERROR] Unknown climateType='wakeup'
2019-08-29 11:30:38,822 [Controller] [ERROR] Exception in thread Controller:
Traceback (most recent call last):
  File "/usr/local

[2019-08-29 16:31] jimboca commented on #46
Yes that is a bug I can fix, but it shouldn't get to that. Have you rebuilt the profile and restarted the nodeserver since the wakup mode was added?

[2019-08-29 16:32] jimboca commented on #41
Sorry, I never saw this. I don't have any switches to test this but can attempt to fix it when I get a chance.

[2019-08-29 16:35] danvanklaveren commented on #46
I have restarted the nodeserver a few times, but have not rebuilt the profile. I will try that and report back.

[2019-08-29 16:39] jimboca commented on #46
Thanks. I think it's supposed to rebuild the profile in restart but I don't remember for sure. If you PM or email me the log package then I can review.

[2019-08-29 19:13] cswelin commented on #41
No worries, to be honest, you don't need to fix it anymore. Switch+ wont be used as a sensor anymore.

Closing issue :)

[2019-08-29 19:13] #41 closed, assigned to nobody

[2019-08-30 18:14] danvanklaveren commented on #46
Even after re-installing the server node, and re-adding to my ISY, I still
get the exception. I am attaching the log file for your reference. I just
recalled that I do have a custom schedule type that I named Awake.

Dan

On Thu, Aug 29, 2019 at 9:39 AM jimboca <notifications@github.com> wrote:

2019-08-30 09:09:58,480 [Controller] [DEBUG] EcobeeF_270664301908:t270664301908:Ecobee - Upstairs:_upda

[2019-09-08 20:36] jimboca opened #47 "climateList should be pulled from API"
For PR #46 a quick fix was implemented by adding wakeup to all, but should only be included when it is actually available
 https://www.ecobee.com/home/developer/api/documentation/v1/objects/Climate.shtml
Should get this list from the thermostat
  https://www.ecobee.com/home/developer/api/documentation/v1/objects/Program.shtml
And add unknown since some code relies on that name existing.

[2019-09-08 21:10] jimboca commented on #46
Fix released, please verify since I can't.

[2019-09-08 23:08] danvanklaveren commented on #46
I installed 2.1.12 and will let you know the results.

On Sun, Sep 8, 2019 at 2:10 PM jimboca <notifications@github.com> wrote:

[2019-09-09 17:42] danvanklaveren commented on #46
Seems to be working. It made it pass when the problem normally occurs.

Thank you!

On Sun, Sep 8, 2019 at 2:10 PM jimboca <notifications@github.com> wrote:

[2019-09-09 18:51] jimboca commented on #46
Great, thanks for reporting and verifying.

[2019-09-09 18:51] #46 closed, assigned to jimboca

[2019-11-11 03:20] jimboca opened #48 "Turn off weather crash"
If Nodeserver is added, the weather monitoring is turned off, it crashes:
[code]

Workaround is to restart so the driver is initialized, then it can be turned off.

[2019-11-12 20:01] jimboca opened #49 "Support Low Battery Warning"
The Thermostat gets low battery for a sensor:
[code]
Need to translate that back to a sensor?  Or Just have an "alert" on the Thermostat?

[2020-01-26 02:53] cswelin commented on #24
[code]
To add some additional context.

[2020-01-26 22:45] macjeff opened #50 "Aux Heat Only causes crash"
Ecobee 4-  Name comes in automatically as well as all the sensor names but all of them show no values.  Figured out from log its AUX Heat Only.  Set to regular heat and we are ok
[code]

[2020-02-02 18:23] jimboca commented on #50
It should be fixed now, you can manually upgrade:https://github.com/Einstein42/udi-ecobee-poly/blob/master/README.md#manual-upgrade Or it should be in the store in 20 minutes or so... 

[2020-02-05 22:46] jimboca commented on #50
Confirmed to be fixed.

[2020-02-05 22:46] #50 closed, assigned to nobody

[2020-02-05 22:50] jimboca opened #51 "forecastNum IndexError: list index out of range"
---------- Forwarded message ---------
From: Michel Kohanim <michel@universal-devices.com>
Date: Wed, Feb 5, 2020 at 2:38 PM
Subject: ecobee exceptions
To: Jim Searle <jimsearle@gmail.com>

Hi Jim,  

Any ideas
[code]

With kind regards, 
****************************** 
Michel Kohanim  CEO   (p) 818.631.0333  http://www.universal-devices.com ****************************** 

[2020-02-07 04:01] jimboca commented on #51
Looks like this is related to not having any weather data, need to just skip the weather nodes when we don't have that info?  But need to debug further...

[2020-02-11 05:28] jimboca commented on #47
This has been fixed for a while now.

[2020-02-11 05:28] #47 closed, assigned to jimboca

[2020-03-16 23:57] jimboca opened #52 "Crash on timeout error with 522 code"
Log shows this:
[code]

Which results in:
[code]

[2020-04-07 15:36] jimboca commented on #52
Has not happened again, must be fixed.

[2020-04-07 15:36] #52 closed, assigned to jimboca

[2020-04-07 15:37] jimboca opened #53 "When thermostat is in Celcius mode, it shows wind speed in mph, should be kph"
https://forum.universal-devices.com/topic/29480-ecobee-ns-mixed-measurement-systems/

[2020-05-18 23:18] jimboca opened #54 "Change login link"
The link just goes to https://www.ecobee.com/home/ecobeeLogin.jsp which doesn't seem to work properly anymore,  so I guess we should just change it to https://www.ecobee.com

[2020-06-03 16:17] jimboca opened #55 "Decrease polling time for authorization"
We currently poll faster when waiting for user to authorize, but this causes issues when user doesn't authorize right away and the nodeserver keeps on polling fast for days...  Need a better way to handle it so ecobee doesn't throttle us.

[2020-06-03 22:16] jimboca commented on #55
Initial change in 2.1.20:
  - Increase waitingOnPin sleep time to 30 and increment by 30 on each loop up to 180

[2020-06-05 17:38] jimboca opened #56 "Expire the pin and change the banner message after 10 minutes"
This was running for over 10 minutes, so we should change the banner telling them to restart the nodeserver...

Current Status: Connected
Current Version: 2.1.14
Time Started: Jun 5, 2020, 10:26:07 AM
Uptime: 11 Minute(s) 29 Second(s)
Current Worker: ecobee-0021b9024a56-7

Ecobee Notifications:
Click here to login to your Ecobee account. Click on Profile > My Apps > Add Application and enter PIN:

[2020-08-10 21:37] jimboca opened #57 "Need to avoid issues caused by multiple node servers refreshing the token"
We had an issue where kubernetes shut down the node server to move it, but it took a long time for it to exit, then the new one started up but it's tokens were invalid by the time it tried to refresh them because the old one had done a refresh.

So need to create a wait_for_update function which:
- Checks that our current token is the latest token, in case someone already refreshed it
- Checks if

[2020-08-29 21:50] gregkinney opened #58 "Admin Console will Freeze if I click on Programs"
If the ecobee nodeserver is running and I click on the programs tab in the admin console, the programs will not load and admin console will eventually crash.

[2020-08-30 19:52] exking commented on #58
not a poly issue

[2020-08-30 19:52] #58 closed, assigned to nobody

[2020-08-30 21:17] gregkinney commented on #58
If I stop the ecobee poly, I have no issues. If I start the ecobee poly, then admin will crash. So this is not a poly issue?

[2020-08-30 21:21] jimboca commented on #58
Please report to support@universal-devices.com and let them know your firmware and AC version from the about menu.

[2020-08-30 23:09] jimboca commented on #57
Fixes are in 2.1.24, although as mentioned there is still a hole due to no DB locking.

[2020-08-31 17:50] jimboca commented on #56
When we get this, that remove the notice:
[code]

[2020-09-09 23:53] macjeff opened #59 "Ecobee disappeared off Nodeserver Store"
I assume its intentional but went to get the new .28 update and its gone.

[2020-09-09 23:54] jimboca commented on #59
It was only released to test, not production yet.

[2020-09-09 23:54] #59 closed, assigned to nobody

[2020-09-10 00:33] macjeff commented on #59
There is currently no Ecobee on the Polisy or PGC nodeserver.  Not even the older version.

[2020-09-10 01:02] jimboca commented on #59
In test mode it turns off others until it's released.

On Wed, Sep 9, 2020, 5:33 PM macjeff <notifications@github.com> wrote:

[2020-09-14 00:52] jimboca opened #60 "The client was authorized, but Ecobee returned an invalid_client error"
This is strange, why Unathorized 401 return?
[code]
Restarting the nodeserver fixed the issue...

[2020-11-27 05:36] nemento opened #61 "AttributeError: 'Controller' object has no attribute 'insertRule'"
I was trying to add some rules to the controller using python code, but appear an error, I dont know what need or if the funtionality of insert rule is correct, what is the roo case and how can I can fix it?

Error is :
mininet@mininet-vm:~/mininet/custom$ sudo mn --custom topo10.py --topo mytopo
*** Adding controller
--------------------------------------------------------------------------------

[2020-12-01 22:36] jimboca commented on #61
This has nothing to do with Ecobee Nodeserver for the ISY.

[2020-12-01 22:36] #61 closed, assigned to nobody

[2020-12-01 22:38] jimboca opened #62 "Heat/Cool State showing AuxHeat instead of Heat."
[See Forum Comment](https://forum.universal-devices.com/topic/31287-polyglot-ecobee-ns-version-2132/?do=findComment&comment=302607
)

a quick note to let you know that somewhere along the way the "Heat/Cool State" node now shows "AuxHeat" instead of "Heat" when the furnace is running.  This is happening on two separate Ecobees at different locations so appears systemic.  I noticed this morning tha

[2020-12-03 18:41] sup-one opened #63 "ClimateType - smart14"
Hi,

Just noticed that my Ecobee nodeserver logs are filling with the following error:

2020-12-03 03:19:46,857 Controller polyinterface      ERROR    node_types:getClimateIndex: Unknown climateType='smart14'
2020-12-03 03:22:46,806 Controller polyinterface      ERROR    node_types:getClimateIndex: Unknown climateType='smart14'
2020-12-03 03:25:46,884 Controller polyinterface      ERROR    node_ty

[2020-12-10 02:27] macjeff opened #64 "Add support for dryContact sensor"
It may be there server as I have another app that was authorized with them and now not authorized and it wont re-authorize but my ISY shows lots of errors in the logs which I attached.

Any idea why its not working.  I have not changed anything and it was working.

[Ecobee_logs_2020-12-9_212339.zip](https://github.com/Einstein42/udi-ecobee-poly/files/5669901/Ecobee_logs_2020-12-9_212339.zip)

[2020-12-14 20:11] jimboca opened #65 "Crash getting date/time"
[code]

[2020-12-14 20:14] jimboca commented on #63
Thanks, looks like something new added by Ecobee.  Will look into it.

[2020-12-24 19:58] #54 closed, assigned to nobody

[2020-12-25 01:51] jimboca commented on #63
@sup-one is this still happening?  Looking at the code it seems that Ecobee is asking about that smart14 but it's not listed in the climate list they provide to me.

[2020-12-25 01:59] jimboca commented on #64
The node server currently on supports thermostat's and remote thermostat sensors, first time I've seen dryContact

`2020-12-09 15:10:16,976 Controller polyinterface      ERROR    node_types:getSensorAddress: t170767287984:getSensorAddress: Unable to determine sensor address for: {'id': 'ei:0:1', 'name': '', 'type': 'monitor_sensor', 'inUse': False, 'capability': [{'id': '', 'type': 'dryContact', '

[2020-12-25 02:03] jimboca commented on #60
This issue is caused by a connection lost when Ecobee returns the new access code, have discussed in depth with Ecobee support,  Should be fixed with new authorization method in 2.2.0

[2020-12-25 02:03] #60 closed, assigned to jimboca

[2020-12-25 02:04] jimboca commented on #57
Fixed in 2.1.32 which does it's on db locking.

[2020-12-25 02:04] #57 closed, assigned to nobody

[2020-12-25 02:12] macjeff commented on #64
My ecobee system has the following

  Ecobee 3 with Humidifier Connection (acts as humidistat to Aprilaire)
          Multiple Gen 1 sensors and 1 Gen 2 sensor
  Ecobee 4
         Multiple Gen 1 sensors and 1 Gen 2 sensor

It could only be the gen 2 sensor or the humidistat on there.

[2020-12-25 03:11] jimboca commented on #64
Ok, must be the controller for the humidistat? Can you try and research to see what it is?

[2020-12-25 04:28] macjeff commented on #64
The controller is built into every ecobee.  It’s just two wires to the humidifier which turns it on an off based on humidity.   It works with any humidifier.

Sent from my iPhone

[2020-12-25 18:22] jimboca commented on #56
Was fixed a while ago

[2020-12-25 18:22] #56 closed, assigned to nobody

[2020-12-25 18:23] jimboca commented on #55
Fixed in 2.2.0

[2020-12-25 18:23] #55 closed, assigned to nobody

[2020-12-25 18:27] jimboca commented on #64
Duplicate of #24

[2020-12-25 18:27] #64 closed, assigned to nobody

[2020-12-25 19:16] jimboca commented on #24
I've attempted to add support in 2.2.0 which I plan to release soon, but I'll need users to test and verify.

[2020-12-25 19:17] jimboca commented on #64
Please see #24 and comment there after I release 2.2.0

[2020-12-25 19:27] jimboca commented on #49
Will be a lot of work to translate the message back to find which sensor has a low battery, have to parse:
"Your KItchen Sensor ..." and pick out text between "Your (.) Sensor" to figure out when one is having an issue...

[2020-12-25 19:28] cswelin commented on #24
I do know the new door contact sensors aren't returned in the Thermostat API (I know mine doesn't anymore, used to), so finding a tester with the old sensor might be rare.

[2020-12-25 19:35] jimboca commented on #48
[code]

[2020-12-25 22:44] sup-one commented on #63
@jimboca Yes, it is showing - I looked through the log when the nodeserver reboots and it corresponds to my custom comfort in Ecobee.

Here is what I see:

2020-12-25 22:45:50,741 NodeServer polyinterface      DEBUG    ecobee-poly:start: customData=
{
  "_data_dtm": "2020-12-25T22:18:51.135691",
  "_data_lock": false,
  "climates": {
"XXXXXXXXXXX": [
      {
        "name": "Home",
        "ref":

[2020-12-26 00:07] jimboca commented on #63
Ok I see, it should understand that. Can you download log package and email that to me?

[2020-12-26 21:23] tko85 opened #66 "Ecobee Nodeserver not in Polyglot Cloud Store"
The Ecobee Nodeserver doesn't appear in the Polyglot Cloud Store.

[2020-12-26 21:49] jimboca commented on #66
It is currently preparing for a new release which removes it from the store. Sorry, Nothing I can do about that. Hopefully will release soon.

[2020-12-26 22:29] jimboca commented on #48
This seems to be a pgc python interface issue, it works on local but fails to get the driver value on pgc, so will wait for pg3.

[2020-12-26 22:36] jimboca commented on #63
@sup-one Never mind, I found the issue.

[2020-12-26 23:29] jimboca commented on #63
This will have to wait until next release after 2.2.0 is stable.  Looks like the number of Comfort settings is increased for some theremostat's so I'll need enhance to support this based on each thermostat.

[2020-12-26 23:39] jimboca commented on #66
Version 2.2.0 released, should be available soon

[2020-12-26 23:39] #66 closed, assigned to nobody

[2020-12-27 17:23] macjeff commented on #24
i am out of town but updated from remote     still getting some errors     posted logs
[Ecobee_logs_2020-12-27_121543.zip](https://github.com/Einstein42/udi-ecobee-poly/files/5744863/Ecobee_logs_2020-12-27_121543.zip)

[2020-12-28 01:03] jimboca commented on #24
Sorry, hard to test when I don't have one, please try 2.2.1

[2020-12-28 02:32] macjeff commented on #24
its fine  as i said before i am out of town    and i dont have access to admin console right now   but except for a few debug messages things look better   here are new logs
[Ecobee_logs_2020-12-27_213141.zip](https://github.com/Einstein42/udi-ecobee-poly/files/5745671/Ecobee_logs_2020-12-27_213141.zip)

[2020-12-28 03:51] jimboca commented on #24
Thanks, no errors, but I don't see it adding the new node for the dryContact sensor...

[2020-12-28 05:06] macjeff commented on #24
In installed the Admin Console on another computer and all my nodes are working and errors gone.  Remember when you said I had a dry contact sensor and the errors said that.  I looked up and I dont have one.  I think the old error messages (not fixed)  were incorrect telling you I had one.  I dont have a wired sensor other than the humidifier but that just turns on and off based on humidity its re

[2020-12-28 05:20] jimboca commented on #24
Can you send me the download log package?  The drycontact may be coming from a remote sensor?

[2020-12-28 14:47] nasgul951 opened #67 "Node server crashes when updating weather when in Celsius"
[code]

Seems like 'toC' is defined in node_funcs.
Adding
```from node_funcs import *``` in Weather.py seems to resolve the issue.

[2020-12-28 15:39] macjeff commented on #24
Attached logs as requested

[Ecobee_logs_2020-12-28_103749.zip](https://github.com/Einstein42/udi-ecobee-poly/files/5747872/Ecobee_logs_2020-12-28_103749.zip)

[2020-12-28 23:31] jimboca commented on #24
@macjeff, you did get the 2 new nodes for the dry contact sensors

[code]

The are both under your "Sunroom" thermostat.

[2020-12-29 03:44] macjeff commented on #24
OK now I am very stumped. Since I’m out of town I didn’t look closely enough to see that the sun room thermostat is now showing up. It is an ecobee original and was never supported by the note server before. It doesn’t even support sensors.  It runs in the heat pump and has no humidifier or anything else.  So I would never of guessed that was what was showing up in my errors as dry contact.  My ot

[2020-12-31 21:32] jimboca commented on #65
Not fixed.  Need to properly format _last_dtns

[2021-03-28 17:22] JCBond opened #68 "Update"
I recently did a clean install of Polyglot onto a clean install of RPi. All running latest versions of software.

I have been using Ecobee Poly for years and other than the occasional reauthorize it has been working properly. On this new installation. I am seeing that the Ecobee Poly runs every 3 minutes. I see on the notes that that is a limitation imposed by Ecobee.

The issue I am having is tha

[2021-03-28 18:48] jimboca commented on #68
When you say you are changing mode, is that directly on the thermostat or from the ISY? The 3 minutes is how often the NS can query the ecobee servers to check for updates, but making a change from the ISY should happen immediately. If not email me the log package.

[2021-03-28 22:50] JCBond commented on #68
When I make changes on ISY the changes do not get sent to the Thermostat. I just emailed you the log package. Any assistance would be greatly appreciated.

[2021-03-28 22:58] JCBond commented on #68
I am looking at the ISY log and noticing that when I manually make a change on the ISY moving the Setpoint UP or DOWN using the buttons at the bottom. That is sent to the Thermostat instantly. But changing any of the parameters, like MODE, nothing happens in the LOG, it is like I didn't make any changes.

[2021-03-29 01:37] jimboca commented on #68
When you change the mode in the pull down, you then click the "Mode" button to the left of the pulldown, right?  Older versions of Admin console did not require this, but it changed in recent versions.

[2021-03-29 02:07] JCBond commented on #68
Now I feel stupid. I did not know or remembered that. I guess it is working. Sorry to have wasted your time.

[2021-03-29 02:25] jimboca commented on #68
Haha, no worries, it annoys me many times as well that it was changed.

[2021-03-29 02:25] #68 closed, assigned to nobody

[2021-05-29 22:50] jimboca opened #69 "NS crash when pin not returned"
[code]